<h1 mat-dialog-title>Emergency Request Details</h1>
<div *ngIf="data" mat-dialog-content>
  <p><strong>ID:</strong> {{ data.emergencyRequest.id }}</p>
  <p><strong>Patient Name:</strong>Анастасій Потоцькийdfg</p>
  <p><strong>Location:</strong> {{ data.emergencyRequest.location }}</p>
  <p><strong>Status:</strong> {{ data.emergencyRequest.status }}</p>
</div>
<div mat-dialog-actions>
  <!-- Action buttons -->
  <button mat-button color="primary" (click)="acceptRequest()">Accept</button>
  <button mat-button color="warn" (click)="rejectRequest()">Reject</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
